/*---------------------------------*/
/* Below 1220px */

@media (max-width: 76.25em) {
    .dashboard-container {
        padding: 1.4rem 3.6rem;
    }

    .dashboard-summary-heading {
        font-size: 2rem;
        margin-bottom: 1.8rem;
    }

    .summary-tab-container {
        padding: 1.2rem 1.7rem;
        gap: 3rem;
    }

    .summary-details-name {
        font-size: 1.6rem;
    }

    .summary-details-amount {
        font-size: 1.8rem;
    }

    .tab-icon-background svg {
        width: 3.6rem;
        height: 3.6rem;
    }

    .dashboard-summary-container,
    .dashboard-chart-container,
    .analytics-categories-container,
    .spending-chart-container {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    .dashboard-summary-container {
        padding: 1.6rem 3.2rem;
    }

    .sidebar {
        padding: 2.4rem 1.2rem;
        ;
    }

    .sb-logo {
        width: 3.2rem;
    }

    .sb-header {
        gap: .6rem;
    }

    .sb-link:link,
    .sb-link:visited {
        font-size: 2.4rem;
    }

    .dashboard-pie-container,
    .dashboard-bar-container {
        padding: 2rem 1.2rem;
        width: 50%;
    }
}

/*---------------------------------*/
/* Below 1104px */

@media (max-width: 69em) {

    .dashboard-chart-container,
    .analytics-categories-container {
        gap: 2.4rem;
    }

    .nav-menu-back-btn {
        display: block;
        color: #555;
    }

    .nav-menu-back-btn svg {
        width: 3.2rem;
    }

    .sb-link:link,
    .sb-link:visited {
        display: none;
    }

    .nav-link-text {
        display: none;
    }

    .sb-header {
        justify-content: center;
    }

    .sb-logo {
        width: 4rem;
    }

    .nav-link:link,
    .nav-link:visited {
        justify-content: center;
    }

    body {
        grid-template-columns: 0.5fr 9.5fr;
    }

    .nav-link svg {
        width: 3rem;
    }

    .sb-nav {
        padding: 3.2rem .8rem;
    }

    .summary-tab-container {
        max-width: 26rem;
    }
}


/*---------------------------------*/
/* Below 1008px */

@media (max-width: 63em) {

    .summary-tab-container {
        max-width: 24rem;
        gap: 1.8rem;
    }

    .dashboard-heading-container {
        max-width: 80%;
    }

    .trans-input-field {
        max-width: 18rem;
    }

    .section-analytics .dashboard-heading-container,
    .section-settings .dashboard-heading-container{
        max-width: 100%;
    }

    .settings-categories-lists-item {
        gap: 10rem;
    }

    .settings-edit-category-container {
        min-width: 100%;
    }
}

/*---------------------------------*/
/* Below 980px */

@media (max-width: 63em) {

    .section-dashboard .dashboard-heading-container {
        max-width: 78%;
    }

    .trans-btn-group {
        margin-left: 1.2rem;
    }
}

/*---------------------------------*/
/* Below 864 */

@media (max-width: 63em) {
    .dashboard-content {
        margin-bottom: 3.6rem;
    }

    .dashboard-expense-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3.2rem;
    }

    .summary-tab-container {
        justify-self: stretch;
    }

    .summary-tab-container:nth-child(odd) {
        justify-self: end;
    }

    .dashboard-summary-heading {
        text-align: center;
    }

    .dashboard-chart-container {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-pie-container,
    .dashboard-bar-container {
        width: 100%;
    }

    .dashboard-chart-container,
    .analytics-categories-container {
        gap: 5.2rem;
    }

    .section-dashboard .dashboard-heading-container,
    .section-transaction .dashboard-heading-container {
        max-width: 70%;
    }

    .trans-filter-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .trans-btn-group {
        margin-left: 0;
    }

    .trans-input-field {
        max-width: 20rem;
    }

    .analytics-categories-container {
        flex-direction: column;
    }

    .settings-categories-lists-item {
        grid-template-columns: 8fr 2fr;
    }

    .total-records-container {
        min-width: 20%;
    }
}