/*---------------------------------*/
/* Below 1220px */

@media (max-width: 76.25em) {
    .dashboard-container {
        padding: 1.4rem 3.6rem;
    }

    .dashboard-summary-heading {
        font-size: 2rem;
        margin-bottom: 1.8rem;
    }

    .summary-tab-container {
        padding: 1.2rem 1.7rem;
        gap: 3rem;
    }

    .summary-details-name {
        font-size: 1.6rem;
    }

    .summary-details-amount {
        font-size: 1.8rem;
    }

    .tab-icon-background svg {
        width: 3.6rem;
        height: 3.6rem;
    }

    .dashboard-summary-container,
    .dashboard-chart-container,
    .analytics-categories-container,
    .spending-chart-container {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    .dashboard-summary-container {
        padding: 1.6rem 3.2rem;
    }

    .sidebar {
        padding: 2.4rem 1.2rem;
        ;
    }

    .sb-logo {
        width: 3.2rem;
    }

    .sb-header {
        gap: .6rem;
    }

    .sb-link:link,
    .sb-link:visited {
        font-size: 2.4rem;
    }

    .dashboard-pie-container,
    .dashboard-bar-container {
        padding: 2rem 1.2rem;
        width: 50%;
    }
}

/*---------------------------------*/
/* Below 1104px */

@media (max-width: 69em) {

    .dashboard-chart-container,
    .analytics-categories-container {
        gap: 2.4rem;
    }

    .nav-menu-back-btn {
        display: block;
        color: #555;
    }

    .nav-menu-back-btn svg {
        width: 3.2rem;
    }

    .sb-link:link,
    .sb-link:visited {
        display: none;
    }

    .nav-link-text {
        display: none;
    }

    .sb-header {
        justify-content: center;
    }

    .sb-logo {
        width: 4rem;
    }

    .nav-link:link,
    .nav-link:visited {
        justify-content: center;
    }

    body {
        grid-template-columns: 0.5fr 9.5fr;
    }

    .nav-link svg {
        width: 3rem;
    }

    .sb-nav {
        padding: 3.2rem .8rem;
    }

    .summary-tab-container {
        max-width: 26rem;
    }
}


/*---------------------------------*/
/* Below 1008px */

@media (max-width: 63em) {

    .summary-tab-container {
        max-width: 24rem;
        gap: 1.8rem;
    }

    .dashboard-heading-container {
        max-width: 80%;
    }

    .trans-input-field {
        max-width: 18rem;
    }

    .section-analytics .dashboard-heading-container,
    .section-settings .dashboard-heading-container {
        max-width: 100%;
    }

    .settings-categories-lists-item {
        gap: 10rem;
    }

    .settings-edit-category-container {
        min-width: 100%;
    }
}

/*---------------------------------*/
/* Below 980px */

@media (max-width: 63em) {

    .section-dashboard .dashboard-heading-container {
        max-width: 78%;
    }

    .trans-btn-group {
        margin-left: 1.2rem;
    }
}

/*---------------------------------*/
/* Below 864 */

@media (max-width: 63em) {
    .dashboard-content {
        margin-bottom: 3.6rem;
    }

    .dashboard-expense-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3.2rem;
    }

    .summary-tab-container {
        justify-self: stretch;
    }

    .summary-tab-container:nth-child(odd) {
        justify-self: end;
    }

    .dashboard-summary-heading {
        text-align: center;
    }

    .dashboard-chart-container {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-pie-container,
    .dashboard-bar-container {
        width: 100%;
    }

    .dashboard-chart-container,
    .analytics-categories-container {
        gap: 5.2rem;
    }

    .section-dashboard .dashboard-heading-container,
    .section-transaction .dashboard-heading-container {
        max-width: 70%;
    }

    .trans-filter-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .trans-btn-group {
        margin-left: 0;
    }

    .analytics-categories-container {
        flex-direction: column;
    }

    .settings-categories-lists-item {
        grid-template-columns: 8fr 2fr;
    }

    .total-records-container {
        min-width: 20%;
    }
}

/*---------------------------------*/
/* Below 672 */

@media (max-width: 42em) {
    .trans-filter-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard-expense-content {
        grid-template-columns: 1fr;
    }

    .summary-tab-container {
        justify-self: center;
    }

    .summary-tab-container:nth-child(odd),
    .summary-tab-container:nth-child(even) {
        justify-self: center;
    }

    .summary-tab-container {
        padding: 1.2rem 2rem;
        max-width: 28rem;
    }

    .dashboard-container {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-button-container {
        margin-left: 0;
    }

    .heading-secondary,
    .heading-desc {
        text-align: center;
    }

    #settings-profile-form {
        gap: 3rem;
    }

    .settings-field-container {
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
    }

    .categories-edit-list-field {
        gap: 3rem;
        padding: 1rem;
    }

    .category-list-name-container .color-picker-container {
        margin-right: 1rem;
    }

    .edit-category-save-btn {
        padding: .1rem .2rem;
    }

}

/*---------------------------------*/
/* Below 576 */

@media (max-width: 36em) {
    .transaction-table {
        display: none;
    }

    .mobile-transactions-cards-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .trans-filter-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .form-amt-container {
        grid-template-columns: 1fr;
    }

    .form-amt-container {
        gap: 1.2rem;
    }

    .settings-profile-input {
        width: 90%;
    }

    .settings-profile-name-container {
        gap: 1rem;
    }

    .custom-select-input {
        width: 95%;
    }

    #settings-monthly-budget,
    #settings-category-name {
        width: 45%;
    }

    .settings-categories-lists-item {
        gap: 3rem
    }

    .settings-categories-btn-container .edit-btn {
        margin-right: 0;
    }

    .settings-categories-btn-container {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .categories-edit-list-field {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .nav-lists {}

    body {
        grid-template-columns: 1fr;
    }

    .sidebar {
        height: auto;
        padding: 2.4rem;
    }

    .sb-nav {
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 200;
        height: 100vh;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        visibility: hidden;
        position: absolute;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        /* width: 100%; */
    }

    .sb-nav.nav-open {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        right: 0;
    }

    /* 
    .sb-nav{
        display: none;
    } */

    .main-section {
        margin-top: 0;
    }

    .sidebar-header {
        border-bottom: none;
        padding: 0;
    }

    .sb-header {
        justify-content: flex-start;
        align-items: center;
    }

    .sb-link:link,
    .sb-link:visited,
    .nav-link-text {
        display: block;
    }

    .nav-btn {
        display: block;
        z-index: 300;
    }

    .sb-link:link,
    .sb-link:visited {
        font-size: 3.4rem;
    }

    .nav-btn svg {
        height: 3.2rem;
        width: 3.2rem;
    }

    .nav-lists {
        top: 0;
        left: 0;
    }

    .nav-link:link,
    .nav-link:visited {
        justify-content: start;
        gap: 2.4rem;
    }

    .nav-lists {
        gap: 4.2rem;
    }

    .nav-link svg {
        width: 3.2rem;
        height: 3.2rem;
        color: #444;
    }

    .nav-link-text {
        font-size: 3.2rem;
        font-weight: 500;
        color: #444;
    }
}