/**************************/
/* SideBar */
/**************************/
.sidebar {
    padding: 2.4rem 1.6rem;
    height: 100vh;
}

.sb-header {
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
}

.sb-logo {
    width: 4.6rem;
}

.sb-link:link,
.sb-link:visited {
    color: #333;
    font-weight: 600;
    font-size: 3.8rem;
}

.sidebar-header {
    border-bottom: 1px solid #ddd;
    padding: 1.2rem 0;
}


/**************************/
/* NavBar */
/**************************/

.sb-nav {
    padding: 6.4rem 0.8rem;
}

.nav-lists {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.nav-link:link,
.nav-link:visited {
    display: flex;
    align-items: flex-end;
    gap: 1.2rem;
    padding: 1.2rem 1.2rem;
}

.nav-link:hover,
.nav-link:active {
    background-color: #f2f2f2;
    border-radius: 0.6rem;
}

.nav-link-text {
    font-size: 2.4rem;
    color: #333;
}

.nav-link-active {
    background-color: #fff;
    box-shadow: 0 0.4rem 0.4rem #e8f3ff;
    /* border: 0.3px solid #ddd; */
    border: 0.3px solid #e8f3ff;
    border-radius: 0.6rem;
}

.nav-link-active svg{
    stroke: #8dc4ff;
}