/**************************/
/* SideBar */
/**************************/
.sidebar {
    padding: 2.4rem 1.6rem;
    height: 100vh;
}

.sb-header {
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
}

.sb-logo {
    width: 3.6rem;
}

.sb-link:link,
.sb-link:visited {
    color: #333;
    font-weight: 600;
    font-size: 3rem;
}

.sidebar-header {
    border-bottom: 2px solid #eee;
    padding: 1.2rem 0;
}


/**************************/
/* NavBar */
/**************************/

.sb-nav {
    padding: 4.8rem 0.8rem;
}

.nav-lists {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-link:link,
.nav-link:visited {
    display: flex;
    align-items: flex-end;
    gap: 1.2rem;
    padding: 1.2rem 1.2rem;
}

.nav-link:hover,
.nav-link:active {
    background-color: #f2f2f2;
    border-radius: 0.6rem;
}

.nav-link-text {
    font-size: 2rem;
    color: #333;
}

.nav-link-active {
    background-color: #fff;
    box-shadow: 0 0.4rem 0.4rem #e8f3ff;
    /* border: 0.3px solid #ddd; */
    border: 0.3px solid #e8f3ff;
    border-radius: 0.6rem;
}

.nav-link-active svg {
    stroke: #8dc4ff;
}

.nav-link svg {
    width: 2.2rem;
}

/**************************/
/* Dashboard Section */
/**************************/


/* Dashboard Header */

.section-dashboard {
    padding: 2rem 0;
}

.dashboard-container {
    padding: 1.6rem 4.2rem;
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

.btn-add-expense {
    padding: 0.6rem 1.2rem;
    display: flex;
    align-items: center;
    color: #f2f2f2;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 4px;
    gap: 0.4rem;
}

.btn-add-expense:hover {
    background-color: #177ae6;
}

.btn-plus-icon {
    width: 1.4rem;
}

.dashboard-button-container {
    margin-left: auto;
}

.dashboard-content {
    border-bottom: 2px solid #eee;
    margin-bottom: 4rem;
}

/* Dashboard Summary */

.dashboard-summary-container {
    border: 2px solid #eee;
    border-radius: 0.6rem;
    padding: 1.8rem 3.6rem;
    margin-bottom: 5.2rem;
    /* height: 8rem; */
}

.dashboard-summary-heading {
    font-size: 2.2rem;
    color: #444;
    font-weight: 600;
    margin-bottom: 2rem;
}

.dashboard-expense-container {}

.dashboard-expense-content {
    display: flex;
    gap: 8rem;
    /* justify-content: center; */
}

.dashboard-expense-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.dashboard-expense-text {
    font-size: 1.6rem;
    font-weight: 500;
}

/* Dashboard Chart */
.dashboard-chart-container {
    display: flex;
    gap: 4.8rem;
}

.dashboard-pie-container {
    height: 20rem;
    padding: 2rem 4.2rem;
    width: 50%;
}

.dashboard-bar-container {
    height: 20rem;
    padding: 2rem 4.2rem;
    width: 50%;
}

/* Add Expense Form */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
}

.expense-form-header {
    display: flex;
    gap: 4.8rem;
    width: 42rem;
}

.form-exp-text {
    font-size: 2.6rem;
    font-weight: 500;
    color: #333;
}

.expense-form-container {
    padding: 2.4rem 2rem;
    border-radius: 0.8rem;
    display: none;
}

.exp-form-close {
    background: none;
    flex: 0 0 5%;
    margin-left: auto;
}

.form-exp-text-container {
    flex: 0 0 95%;
    display: flex;
    justify-content: center;
}

.exp-form-close svg:hover {
    stroke: #444;
}

.expense-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    width: 42rem;
}

.exp-form-group {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.form-input-fields {
    padding: 1.2rem 1rem;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    font-size: 1.4rem;
    font-family: inherit;
    width: 100%;
}

.form-label {
    font-size: 1.4rem;
    color: #333;
    font-weight: 600;
}

.form-amt-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}

.exp-form-btn {
    color: #fff;
    font-weight: 500;
    padding: 1.2rem 3.8rem;
    font-size: 2rem;
    border-radius: 6px;
}

.form-btn-container {
    display: flex;
    justify-content: center;
}

.exp-form-btn {
    width: 100%;
}

.exp-form-btn:hover {
    background-color: #177ae6;
}


/**************************/
/* Transaction Section */
/**************************/

.section-transaction {
    padding: 2rem 0;
}

.trans-filter-container {
    padding: 0 2.4rem;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.trans-input-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.trans-input-field {
    width: 20rem;
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
    border: 1.5px solid #ccc;
    font-family: inherit;
    border-radius: 4px;
}

.trans-form-label {
    font-size: 1.3rem;
    color: #555;
    font-weight: 500;
}

.btn-trans {
    border: none;
}

.btn-trans {
    padding: 0.6rem 1.2rem;
    display: flex;
    align-items: center;
    color: #f2f2f2;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 4px;
    gap: 0.4rem;
}

.btn-trans svg {
    width: 1.4rem;
}

.trans-btn-group {
    display: flex;
    gap: 2.4rem;
}

/* Transaction table */

.transaction-table-container {
    padding: 0 2.4rem;
}

.transaction-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}

.trans-head-table-container th,
.trans-table-body td {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
}

.trans-head-table-container th {
    padding: 1rem;
}

.trans-table-body td {
    padding: 0.5rem 1rem;
    color: #333;
}


.trans-head-table-row {
    background-color: #177ae6;
    color: #f2f2f2;
}

.transaction-table th:nth-child(1),
.transaction-table td:nth-child(1) {
    width: 20%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.transaction-table th:nth-child(2),
.transaction-table td:nth-child(2) {
    width: 15%;
}

.transaction-table th:nth-child(3),
.transaction-table td:nth-child(3) {
    width: 35%;
}

.transaction-table th:nth-child(4),
.transaction-table td:nth-child(4) {
    width: 15%;
}

.transaction-table th:nth-child(5),
.transaction-table td:nth-child(5) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.trans-table-button-col {
    /* display: flex;
    gap: 1rem;
     border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; */
}

.trans-table-button-col .btn {
    border: none;
    background: none;
}

.trans-table-button-col svg {
    width: 2rem;
    stroke: #1a88ff;
    stroke-width: 2.5;
}

.trans-table-button-col svg:hover {
    stroke: #156dcc;
}

.edit-btn {
    margin-right: 1.2rem;
}

.trans-table-body tr:nth-child(odd) {
    background-color: #fff;
}

.trans-table-body tr:nth-child(even) {
    background-color: #d1e7ff;
}

.thead-sort-column{
    display: flex;
    gap: 0.4rem;
    cursor: pointer;
}

/**************************/
/* Analytics Section */
/**************************/

.section-analytics{
    padding: 2rem 0;
}

